body{
    background:rgb(226, 41, 195);
}
nav{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
ul{
    display: flex;
    width: 100%;
    justify-content: space-between ;
}
li{
    list-style-type: none;
} 
a{text-decoration: none;
    color :aqua;
    font-weight: bold;
}
img{
    width: 250px;
    height: 250px;
}
div{
    width: 100%;
    display: flex;
    justify-self: center;
}
footer{
    text-align: center;
    
}
